@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navBar{
  width: 100vw;
  z-index: 100;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

#logoTitleDiv{
  display: flex;
  align-items: center;
  width: 90%;
  height: fit-content;
  /* border: 1px solid red; */
}

#navBarLogo{
  width: 18%;
}

@media (prefers-reduced-motion: no-preference) {
  #navBarLogo {
    animation: App-logo-spin infinite 10s linear;
  }
}

#logoTitleDiv a{
  text-decoration: none;
  color: white;
}

#pageHeader{
  font-family: 'Merienda';
  font-size: 68px;
  /* border: 1px solid red; */
}

#loginSignupDiv{
  position: fixed;
  top: 4vh;
  right: 1vw;
}

#loginSignupOptions{
  display: block;
  /* border: 1px solid red; */
  height: max-content;
  white-space: nowrap;
}

#loginSignupOptions a{
  text-decoration: none;
  font-size: 75%;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

#userDiv{
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  height: 38px;
  top: 4vh;
  right: 1vw;
  white-space: nowrap;
  /* border: 1px solid red; */
}

#userDisplayName{
  order: 1;
  flex-grow: 4;
  font-size: 16px;
  font-weight: 700;
  padding-right: 4px;
  /* border: 1px solid blue; */
}

#signoutSpan{
  order: 2;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 75%;
}

#signoutButton{
  background-color: rgb(255, 255, 255);
  color: rgb(128, 50, 202);
  font-size: 80%;
  font-weight: 900;
  border: 1px solid rgb(56, 171, 224);
  border-radius: 30px;
}

#signoutButton:hover{
  background-color: rgb(184, 184, 184);
  color: rgb(92, 35, 145);
  border: 1px solid rgb(42, 127, 167);
}

#signoutButton:active{
  background-color: rgb(151, 151, 151);
  color: rgb(113, 12, 207);
  border: 1px solid rgb(10, 173, 248);
}

/* #menuButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
} */

#menuButtonDiv{
  z-index: 200;
  position: fixed;
  right: 4vw;
  top: 8vh;
  cursor: pointer;
  width: max-content;
  /* border: 1px solid red; */
  transition: transform .4s cubic-bezier(0, .52, 0, 1);
}

.bar1, .bar2, .bar3{
  width: 50px;
  height: 8px;
  margin: 11px 0;
  transition: .4s;
  border-radius: 15px;
  background-color: #7f27f0;
  /* border: 1px solid red; */
}

#menuButtonDiv.openMenuPanel .bar1,
#menuButtonDiv.openMenuPanel .bar2,
#menuButtonDiv.openMenuPanel .bar3{
  background-color: black;
  width: 45px;
  height: 6px;
  margin: 5px 0;
}

#menuBackgroundFade{
  position: fixed;
  right: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#menuBackgroundFade.menuOpen{
  background-color: #321f3a5c;
  backdrop-filter: blur(1px);
  z-index: 190;
  transform: translateX(-100vw);
  transition: transform 0.2s ease-in-out;
}

#slidingMenuPanel{
  background-color: #7f27f0;
  z-index: 199;
  position: fixed;
  width: 25vw;
  top: 0;
  right: -25vw;
  height: 100vh;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

#menuButtonDiv.openMenuPanel{
  transform: translate3d(-16vw, 0, 0);
  position: fixed;
  top: 4vh;
}

#slidingMenuPanel.openMenuPanel{
  transform: translate3d(-25vw, 0, 0);
}

#menuButtonDiv.closedMenuPanel, #slidingMenuPanel.closedMenuPanel{
  transform: translate3d(0, 0, 0);
}

#menuButtonDiv.openMenuPanel .bar1 {
  transform: translate(0, 11px) rotate(-135deg);
}

#menuButtonDiv.openMenuPanel .bar2 {
  opacity: 0;
}

#menuButtonDiv.openMenuPanel .bar3 {
  transform: translate(0, -11px) rotate(135deg);
}

#navBarLinks{
  margin-left: 0;
  margin: auto;
  margin-top: 30%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0;
  row-gap: 10px;
  /* border: 1px solid red; */
}

.navBarLink{
  margin-left: 0;
  display: block;
  width: 100%;
  height: max-content;
  /* border: 1px solid blue; */
}

.navBarLink a{
  width: 100%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  transition: 0.7s;
  white-space: nowrap;
}

.navBarLink a:hover{
  color: rgb(35, 21, 47);
}

.navBarLink a:active{
  color: rgb(0, 0, 0);
}

a.activeLink{
  color: rgb(62, 26, 78);
  /* font-size: 32px; */
}

@media only screen and (max-width: 1465px){
  #navBarLogo{
    width: 20%;
  }

  #pageHeader{
    font-size: 56px;
  }

  #userDisplayName{
    font-size: 14px;
  }

  #signoutButton{
    font-size: 70%;
  }

  #navBarLinks{
    margin-top: 40%;
  }
}

@media only screen and (max-width: 1250px){
  #navBarLogo{
    width: 22%;
  }

  #pageHeader{
    font-size: 52px;
  }

  #menuButtonDiv{
    top: 7vh;
  }

  .bar1, .bar2, .bar3{
    width: 45px;
    height: 7px;
    margin: 8px 0;
  }

  #menuButtonDiv.openMenuPanel .bar1,
  #menuButtonDiv.openMenuPanel .bar2,
  #menuButtonDiv.openMenuPanel .bar3{
    background-color: black;
    width: 42px;
    height: 5px;
    margin: 6px 0;
  }

  #slidingMenuPanel{
    width: 35vw;
    right: -35vw;
  }

  #menuButtonDiv.openMenuPanel{
    transform: translate3d(0, 0, 0);
    right: 30vw;
    transition: all 2s ease ease-in-out;
  }
  
  #slidingMenuPanel.openMenuPanel{
    transform: translate3d(-35vw, 0, 0);
  }
  
  #menuButtonDiv.closedMenuPanel, #slidingMenuPanel.closedMenuPanel{
    transform: translate3d(0, 0, 0);
  }

  #loginSignupDiv{
    
  }
  
  #loginSignupOptions{
    
  }

  #userDiv{

  }

  #userDisplayName{
    text-overflow: ellipsis;
  }

  #signoutButton{
    padding: 1px 3px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1100px){
  #pageHeader{
    font-size: 44px;
  }

  #menuButtonDiv{
    top: 6vh;
  }
}

@media only screen and (max-width: 1000px){
  #menuButtonDiv{
    top: 5vh;
  }

  #menuButtonDiv.openMenuPanel .bar1,
  #menuButtonDiv.openMenuPanel .bar2,
  #menuButtonDiv.openMenuPanel .bar3{

  }

  #slidingMenuPanel{
    /* width: 30vw;
    right: -30vw; */
  }

  #menuButtonDiv.openMenuPanel{
    transform: translateX(0vw, 0, 0);
  }
  
  #slidingMenuPanel.openMenuPanel{
    /* transform: translate3d(-30vw, 0, 0); */
  }
  
  #menuButtonDiv.closedMenuPanel, #slidingMenuPanel.closedMenuPanel{
    transform: translate3d(0, 0, 0);
  }
  
  #userDisplayName{
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px){
  #navBarLogo{
    width: 25%;
  }

  #pageHeader{
    font-size: 150%;
  }

  #slidingMenuPanel{
    width: 50vw;
    right: -50vw;
  }

  #menuButtonDiv.openMenuPanel{
    transform: translate3d(-12vw, 0, 0);
    position: fixed;
  }
  
  #slidingMenuPanel.openMenuPanel{
    transform: translate3d(-50vw, 0, 0);
  }
  
  #menuButtonDiv.closedMenuPanel, #slidingMenuPanel.closedMenuPanel{
    transform: translate3d(0, 0, 0);
  }

  #loginSignupDiv{
    display: flex;
    align-items: center;
    top: 3vh;
    right: 4vw;
    /* border: 1px solid red; */
    height: 40px;
  }
  
  #userDisplayName{
    font-size: 18px;
  }

  #signoutButton{
    font-size: 14px;
  }
}

@media only screen and (max-width: 660px){
  #navBar{
    width: 100vw;
    z-index: 100;
  }

  #navBarLogo{
    width: 30%;
  }

  #pageHeader{
    font-size: 140%;
  }

  #userDisplayName{
    font-size: 15px;
  }
}

@media only screen and (max-width: 575px){
  .bar1, .bar2, .bar3{
    width: 45px;
    height: 7px;
    margin: 8px 0;
  }

  #menuButtonDiv.openMenuPanel .bar1,
  #menuButtonDiv.openMenuPanel .bar2,
  #menuButtonDiv.openMenuPanel .bar3{
    width: 50px;
    height: 6px;
    margin: 5px 0;
  }

  #menuButtonDiv{
    top: 4vh;
  }

  #slidingMenuPanel{
    width: 100vw;
    right: -100vw;
  }

  #menuButtonDiv.openMenuPanel{
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 5vh;
    left: 8vw;
    right: 0;
    transition: all 2s ease ease-in-out;
  }
  
  #slidingMenuPanel.openMenuPanel{
    transform: translate3d(-100vw, 0, 0);
  }
  
  #menuButtonDiv.closedMenuPanel, #slidingMenuPanel.closedMenuPanel{
    transform: translate3d(0, 0, 0);
  }

  #loginSignupDiv{
    top: 5vh;
  }
  
  #loginSignupOptions{
    font-size: 150%;
  }

  #userDiv{
    display: flex;
    align-items: center;
    top: 5vh;
    right: 4vw;
    /* border: 1px solid red; */
    height: 40px;
  }

  #userDisplayName{
    font-size: 18px;
  }

  #signoutButton{
    width: 120%;
    height: 30px;
  }

  .navBarLink a{
    font-size: 200%;
  }
}

@media only screen and (max-width: 480px){
  #menuButtonDiv{
    top: 3vh;
  }

  .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 360px){
  #signoutButton{
    font-size: 12px;
  }
}