.notificationPopupDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 5px
}

.notificationPopupDiv::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 5px
}

.notificationPopupDiv::-webkit-scrollbar-thumb
{
	background-color: black;
	border: 2px solid black;
  border-radius: 5px
}

.notificationBell{
  transition: 0.5s;
  cursor: pointer;
  height: inherit;
  color: #f2f2f2;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.notificationBell::after {
  min-width: 14px;
  height: 14px;
  content: attr(data-count);
  background-color: #ed657d;
  font-family: monospace;
  font-weight: bolt;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
  transition: .3s;
  opacity: 0;
  transform: scale(.5);
  will-change: opacity, transform;
}

.notificationBell.showCount::after {
  opacity: 1;
  transform: scale(1);
}

.notificationBell::before {
  content: "\f0f3";
  font-family: "FontAwesome";
  display: block;
}

.notificationBell.notify::before {
  animation: bell 1s ease-out;
  transform-origin: center top;
}

@keyframes bell {
  0% {transform: rotate(35deg);}
  12.5% {transform: rotate(-30deg);}
  25% {transform: rotate(25deg);}
  37.5% {transform: rotate(-20deg);}
  50% {transform: rotate(15deg);}
  62.5% {transform: rotate(-10deg)}
  75% {transform: rotate(5deg)}
  100% {transform: rotate(0);}  
}

.notificationBackgroundOverlayDiv{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9998;
  background-color: #00000070;
}

.notificationBackgroundOverlayDiv.openMenu{
  display: block;
}

.notificationPopupDiv{
  width: 80vw;
  height: 0px;
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  overflow-y: scroll;
  padding: 0px;
  left: -56.25vw;
  margin-top: 60vh;
  background-color: #F4F4F4;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
  cursor: context-menu;
  z-index: 9999;
}

.notificationBell.openMenu .notificationPopupDiv{
  height: 50vh
}

.caughtUpNotificationsHeader{
  color: #000000;
  font-weight: 300;
}

.notificationsContainerDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}

.notificationsContainerDiv:empty{
  display: none;
}

.notificationSectionDiv{
  padding: 25px 10px;
  background-color: #F4F4F4;
  transition: 0.5s;
  border-style: none none solid none;
  border-color: #00000080;
}

.notificationImageDiv{
  padding-left: 15px;
}

.notificationImage{
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 75px;
  float: left;
}

.notificationText{
  vertical-align: top;
  font-size: 0.7em;
  padding: 5px 10px 0px 115px;
  color: black;
}

.notificationSubtext{
  font-size: 0.5em;
  color: grey;
}

.notificationSkeeterResponse{
  font-size: 1rem;
  color: grey;
}

.notificationSectionDiv.newNotificationDiv{
  border-color: red;
}

.notificationSectionDiv:hover{
  background-color: #BFBFBF;
}