#lineupGridContainer{
  position: relative;
  margin-top: -1%;
  display: none;
  width: 60vw;
  min-height: 60vh;
  height: fit-content;
  /* overflow: hidden; */
}

#lineupGridContainer.skeeterLineupGridContainer{
  grid-template-columns: 1fr;
  row-gap: 2%;
}

#sortSelect{
  width: 25%;
  text-align: center;
  margin-left: 65%;
  border-radius: 20px;
  font-size: 18px;
  color: aliceblue;
  background-color: #4b576b;
  border: 1px solid aliceblue;
}

#sortSelect option{
  font-size: 14px;
  color: aliceblue;
  background-color: #465060;
}

#lineupDiv{
  position: relative;
  background-color: #36393f;
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 1%;
}

#lineupTracksDiv{
  /* padding: 0px 1%; */
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#lineupTracksDiv::-webkit-scrollbar-track {
  background: #484646;
}

#lineupTracksDiv::-webkit-scrollbar{
  width: 8px;
}

#lineupTracksDiv::-webkit-scrollbar-thumb {
  background: #847d7d; 
}

#pre-approvalLineupDiv{
  position: relative;
  background-color: #36393f;
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 1%;
}

#pre-approvalLineupTracksDiv{
  /* padding: 0px 1%; */
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#pre-approvalLineupTracksDiv::-webkit-scrollbar-track {
  background: #484646;
}

#pre-approvalLineupTracksDiv::-webkit-scrollbar{
  width: 8px;
}

#pre-approvalLineupTracksDiv::-webkit-scrollbar-thumb {
  background: #847d7d; 
}

.lineupSong{
  display: grid;
  grid-template-columns: 4fr 14fr 2fr 1fr;
  min-height: 20vh;
  /* margin-left: 2.5%; */
  background-color: #4c4d4e;
  border: 1px solid black;
  font-size: 16px;
}

.lineupSongImageDiv{
  z-index: 10;
  margin: 3% 0 0 3%;
}

.lineupSongImage{
  border: 1px solid black;
  width: 100%;
}

.customRequestHeader{
  margin-top: 40%;
}

.lineupSongInfo{
  margin: 1.5% 5% 0% 3%;
  height: 90%;
  background-color: #3c3f44;
  z-index: 0;
  width: 92%;
  /* border: 1px solid wheat; */
  border-radius: 10px;
  text-align: left;
  overflow-y: hidden;
  overflow-x: scroll;
}

.lineupSongInfo p {
  /* padding-left: 0; */
  margin-top: 2.5%;
  margin-left: 2%;
  height: 20%;
  font-size: 16px;
  white-space: nowrap;
}

.lineupVoteCount{
  text-align: right;
  color: #ce8149;
  font-weight: 700;
  width: 100%;
}

.lineupSongInfo::-webkit-scrollbar {
  display: none;
}

.lineupVoteDiv{
  margin-top: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0% 0% 0 0%;
  height: 80%;
  grid-gap: 0%;
  /* border: 1px solid red; */
  width: fit-content;
}

.lineupUpvoteButton{
  
}

.lineupDownVoteButton{

}

div.upvote {
  text-align: center;
  margin-top: 12.5%;
  margin-left: -5%;
}

div.upvote a.upvote-enabled {
  cursor: pointer;
}

div.upvote a {
  color: transparent;
  background-image: url('../../node_modules/upvote/lib/images/sprites-stackoverflow.png?v=1');
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 40px;
}

div.upvote span.count {
  display: block;
  font-size: 32px;
  font-family: Arial, Liberation, Sans, DejaVu Sans, sans-serif;
  /* color: rgb(255, 255, 255); */
  text-align: center;
  line-height: 1;
}

div.upvote a.upvote {
  margin-top: 10%;
  background-position: -3px -365px;
  background-size: 380px 1480px;
  transform: translate3d(0, 0, 0) scale(0.9);
}

div.upvote a.upvote.upvote-on {
  background-position: 0px -290px;
  background-size: 350px 1365px;
  transform: translate3d(0, 0, 0) scale(0.9);
}

div.upvote a.downvote {
  margin-bottom: 0%;
  background-position: -3px -410px;
  background-size: 380px 1480px;
  transform: translate3d(0, 0, 0) scale(0.9);
}

div.upvote a.downvote.downvote-on {
  background-position: 0px -415px;
  background-size: 350px 1365px;
  transform: translate3d(0, 0, 0) scale(0.9);
}

div.upvote a.star {
  width: 33px;
  height: 31px;
  background-position: 0px -150px;
}

div.upvote a.star.star-on {
  background-position: 0px -190px;
}

.disabledVoteButton{
  opacity: 60%;
}

.spotifyLinkDiv{
  margin-left: -10%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  /* border: 1px solid green; */
  padding: 0%;
}

.lineupSpotifyLink{
  text-decoration: none;
  font-size: 32px;
  background-color: #b630f07f;
  width: fit-content;
  height: fit-content;
  border: 1px solid rgb(175, 35, 210);
  border-radius: 30px;
  /* border: 1px solid blue; */
}

.lineupSpotifyLink:visited{
  background-color: #701e93a3;
  border: 1px solid rgb(146, 31, 175);
}

.noSpotifyLink{
  pointer-events: none;
  text-decoration: none;
  font-size: 32px;
  width: fit-content;
  height: fit-content;
  background-color: #3c3b3ca3;
  border: 1px solid rgb(101, 99, 101);
  border-radius: 30px;
  opacity: 50%;
    /* border: 1px solid blue; */
}

#popupDiv{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;
}

#popupDiv.popupOn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#popupSpan{
  border-radius: 2% 2% / 50% 50%;
  border: 2px solid rgb(41, 27, 69);
  background-color: rgb(48, 69, 91);
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
  width: fit-content;
  padding: 1vh 2vw;
  opacity: 95%;
}

@media only screen and (max-width: 1465px){
  #lineupDiv{
    margin-top: 1%;
  }
  
  div.upvote{
    margin-left: -15%;
  }

  div.upvote a.upvote {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.upvote.upvote-on {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.downvote {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.downvote.downvote-on {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
}

@media only screen and (max-width: 1250px){
  #sortSelect{
    width: 25%;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
  }

  #sortSelect option{
    font-size: 14px;
    color: aliceblue;
    background-color: #4b576b;
  }

  div.upvote{
    margin-left: -15%;
  }

  div.upvote a.upvote {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.upvote.upvote-on {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.downvote {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.downvote.downvote-on {
    transform: translate3d(0, 0, 0) scale(0.85);
  }

  .lineupSpotifyLink{
    font-size: 28px;
  }

  .noSpotifyLink{
    font-size: 28px;
  }
}

@media only screen and (max-width: 1100px){
  #sortSelect{
    margin-left: 55%;
    width: 35%;
    font-size: 14px;
  }

  #sortSelect option{
    font-size: 12px;
  }

  #lineupGridContainer{
    width: 80%;
  }

  .lineupSong{
    grid-template-columns: 5fr 12fr 1fr 1fr;
  }

  .lineupSongInfo{
    margin-top: 3%;
  }

  .lineupSongInfo p {
    font-size: 14px;
  }

  .lineupSpotifyLink{
    font-size: 24px;
  }

  .noSpotifyLink{
    font-size: 24px;
  }

  div.upvote{
    margin-left: -15%;
  }

  div.upvote a.upvote {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.upvote.upvote-on {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.downvote {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
  
  div.upvote a.downvote.downvote-on {
    transform: translate3d(0, 0, 0) scale(0.85);
  }
}

@media only screen and (max-width: 800px){
  div.upvote{
    margin-left: -10%;
  }

  #popupDiv{
    top: -20vh;
  }
}

@media only screen and (max-width: 660px){
  #lineupGridContainer{
    overflow-y: hidden;
  }

  #sortSelect{
    width: 45%;
    text-align: center;
    margin-left: 45%;
    border-radius: 20px;
    font-size: 14px;
  }

  #sortSelect option{
   font-size: 12px; 
  }

  #lineupGridContainer{
   height: max-content;
   width: 90%;
  }

  #lineupDiv{
    margin-top: 1%;
  }

  #lineupTracksDiv{
    margin: 2.5% 0;
    width: 95%;
    height: 65vh;
  }

  .lineupSong{
    min-height: 10vh;
    height: 300%;
    display: grid;
    grid-template-columns: 6fr 12fr 2fr 1fr;
    height: max-content;
    margin-left: 4%;
  }

  .lineupSongImageDiv{
    z-index: 10;
    margin: 2%;
    /* border: 1px solid blue; */
    height: fit-content;
  }

  .lineupSongImage{
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 2%;
    /* margin-left: 5%; */
  }

  .lineupSongInfo{
    margin: 2.5% 5% 0% 3%;
    height: 90%;
    background-color: #3c3f44;
    z-index: 0;
    width: 92%;
    /* border: 1px solid wheat; */
    border-radius: 10px;
    text-align: left;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .lineupSongInfo p {
    margin-left: 2%;
    margin-right: 3%;
    width: max-content;
    height: auto;
    font-size: 12px;
    white-space: nowrap;
    /* line-height: 50%; */
  }

  .lineupSongName{
    /* margin-top: 120px; */
  }

  .lineupVoteDiv{
    /* margin-top: 10%; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0% 0% 0 -10%;
    height: 90%;
    grid-gap: 0%;
    /* border: 1px solid red; */
    width: fit-content;
  }

  .lineupVoteCount{
    text-align: right;
    color: #ce8149;
    font-size: 12px;
    font-weight: 700;
  }

  .lineupUpvoteButton{

  }

  .lineupDownVoteButton{
    
  }

  div.upvote{
    margin-left: -8%;
  }

  div.upvote a {
    width: 35px;
    height: 20px;
  }

  div.upvote a.upvote {
    background-position: 0px -215px;
    background-size: 200px 880px;
    transform: translate3d(0, 0, 0) scale(1.3);
  }
  
  div.upvote a.upvote.upvote-on {
    background-position: 0px -165px;
    background-size: 200px 780px;
    transform: translate3d(0, 0, 0) scale(1.2);
  }
  
  div.upvote a.downvote {
    background-position: 0px -245px;
    background-size: 200px 880px;
    transform: translate3d(0, 0, 0) scale(1.3);
  }
  
  div.upvote a.downvote.downvote-on {
    background-position: 0px -240px;
    background-size: 200px 780px;
    transform: translate3d(0, 0, 0) scale(1.2);
  }

  .spotifyLinkDiv{
    margin-left: -10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    /* border: 1px solid greenyellow; */
    padding: 0%;
  }

  .lineupSpotifyLink{
    font-size: 20px;
    /* border: 1px solid blue; */
  }

  .noSpotifyLink{
    pointer-events: none;
    font-size: 20px;
    opacity: 50%;
      /* border: 1px solid blue; */
  }
}

@media only screen and (max-width: 500px){

}
