#signupDiv{
  /* border: 1px solid red; */
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
}

#signupDiv div{
  /* border: 1px solid red; */
}

.signupInfoDiv{
  margin-left: 10vw;
  width: 60vw;
  margin-top: 6px;
  display: grid;
  grid-template-columns: 1fr;
}

.signupInfoDiv label{
  text-align: left;
}

#signupButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#signupButton{
  margin-top: 14px;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(43, 147, 207);
  border-radius: 30px;
  border-color: aliceblue;
  color: aliceblue;
}

#alreadySignedUpDiv{
  margin-top: 5px;
}

#alreadySignedUpSpan a{
  text-decoration: none;
  font-size: 14px;
  color: rgb(57, 130, 214);
}