@import url('https://fonts.googleapis.com/css?family=Merienda');
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#songSearchDiv{
  margin-top: 2.5vmax;
}

#songSearchTabs{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 80.3765%;
  margin-left: 10%;
}

#spotifyTab{
  border-width: 1px 1px 0 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10% 20% 0 0 / 40% 100%;
  height: 6vmax;
  background-color: #36393f;
  z-index: 3;
}

#customTab{
  border-width: 1px 1px 0 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20% 10% 0 0 / 100% 40%;
  height: 6vmax;
  margin-left: -5%;
  z-index: 2;
  background-color: #2e2f32;
}

#spotifyImage{
  width: 60%;
  margin-top: 7%;
}

#customTag{
  width: 40%;
  margin-top: 10%;
  margin-left: 30%;
  font-size: 20px;
}

#renderedTracksDiv{
  padding: 2px 0 2px 0;
  margin-left: 10%;
  width: 80%;
  height: 250px;
  overflow-y: scroll;
  background-color: #36393f;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
}

#renderedTracksDiv::-webkit-scrollbar-track {
  background: #484646;
}

#renderedTracksDiv::-webkit-scrollbar{
  width: 8px;
}

#renderedTracksDiv::-webkit-scrollbar-thumb {
  background: #847d7d; 
}

.songOption{
  margin: 2px 0 2px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 95%;
  height: 7vmax;
  margin-left: 2.5%;
  background-color: #4c4d4e;
  border: 1px solid black;
  font-size: 16px;
}

.songOptionImage{
  border: 1px solid black;
  width: 6.5vmax;
  height: 6.5vmax;
  margin: 3% 2.5%;
}

.songOptionInfo{
  margin-top: 2.5%;
  margin-left: -10%;
  text-align: left;
  justify-content: center;
  height: 7vmax;
  line-height: 17px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.songOptionInfo::-webkit-scrollbar {
  display: none;
}

.songOptionInfo p {
  margin-top: 0;
  vertical-align: middle;
  width: fit-content;
  line-height: calc(1.5 * 1.6vmax);
  font-size: 0.8vw;
  white-space: nowrap;
  margin-bottom: 4%;
}

#pageHeader{
  font-family: 'Merienda';
  font-size: 6vmax;
  margin-right: 0;
}

#gridContainer{
  margin-top: -7vmax;
  display: grid;
  width: 70vmax;
  height: 55vmin;
  grid-template-columns: 2fr 3fr;
}

#logoDiv{
  height: 55vmin;
}

#formDiv{
  height: 55vmin;
  margin-top: 5vmax;
}

#songDiv{
  margin-top: 2.5vmax;
}

#artistDiv{
  margin-top: 2.5vmax;
}

.requestLabel {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 2vmax;
  border-radius: 3px;
  overflow: hidden;
}

.requestLabel .label {
  position: absolute;
  top: 1vmax;
  left: 12px;
  font-size: 1.5vmax;
  color: #64a8f5;
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, -1vmax, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.requestLabel .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.requestLabel input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90%;
  border: 0;
  font-family: inherit;
  padding: 1vmin 1vmax 0 1vmax;
  height: 3.2vmax;
  font-size: 2vmax;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
  transition: all 0.15s ease;
}
.requestLabel input:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 -1px 0 #2e8cf7;;
}
.requestLabel input:not(:-moz-placeholder-shown) + .label {
  color: #0077FFCF;
  transform: translate3d(0, -2.8vmax, 0) scale(0.75);
}
.requestLabel input:not(:-ms-input-placeholder) + .label {
  color: #0077FFCF;
  transform: translate3d(0, -2.8vmax, 0) scale(0.75);
}
.requestLabel input:not(:placeholder-shown) + .label {
  color: #0077FFCF;
  transform: translate3d(0, -2.8vmax, 0) scale(0.75);
}
.requestLabel input:focus {
  background: rgba(82, 78, 78, 0.377);
  outline: none;
  box-shadow: inset 0 -2px 0 #0051ff;
}
.requestLabel input:focus + .label {
  color: #2e8cf7;
  transform: translate3d(0, -4vmax, 0) scale(0.75);
}
.requestLabel input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

#submitBtn{
  margin-top: 3vmax;
  padding: 0.6vmax;
  color: white;
  width: 250px;
  border-color: white;
  border-radius: 15px;
  font-size: 28px;
  background: linear-gradient(to right, #4492eb , #cd15d3);
  box-shadow: inset 0 -6px 0 #380e50;
}

#submitBtn:hover{
  color: rgb(175, 175, 175);
  border-color: rgba(148, 148, 148, 0.76);
  background: linear-gradient(to right, #326cad , #910e96);
  box-shadow: inset 0 -3px 0 #540681;
}

#submitBtn:disabled{
  pointer-events: none;
  filter: grayscale(100%);
  color: rgb(175, 175, 175);
  border-color: rgba(148, 148, 148, 0.76);
  background: linear-gradient(to right, #326cad , #910e96);
  box-shadow: inset 0 -3px 0 #540681;
}

@media only screen and (max-width: 1465px){
  #gridContainer{
    height: 50vmin;
  }
  
  #logoDiv{
    height: 45vmin;
  }

  #formDiv{
    height: 45vmin;
  }
  
  .App-logo {
    height: 45vmin;
  }

  .requestLabel input:focus + .label {
    color: #2e8cf7;
    transform: translate3d(0, -5vmin, 0) scale(0.75);
  }

  #submitBtn{
    font-size: 29px;
  }

  .songOptionInfo{
    margin-left: -10%;
  }

  .songOptionInfo p{
    font-size: 1.2vw;
  }

  #customTag{
    margin-top: 11%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1250px){
  .App-header {
    justify-content: start;
  }

  #gridContainer{
    display: grid;
    width: 50vmax;
    height: 40vmin;
    grid-template-columns: 1fr;
  }

  #logoDiv{
    margin-top: -4vmax;
    height: 40vmin;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  #formDiv{
    margin-top: -1vmax;
    height: 40vmin;
  }

  #songDiv{
    margin-top: 0;
  }

  #artistDiv{
    margin-top: 2.5vmax;
  }

  .requestLabel input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70%;
    border: 0;
    font-family: inherit;
    padding: 1vmin 1vmax 0 1vmax;
    height: 3.5vmax;
    font-size: 2.4vmax;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    transition: all 0.15s ease;
  }
  .requestLabel input:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 #2e8cf7;;
  }
  .requestLabel input:not(:-moz-placeholder-shown) + .label {
    color: #0077FFCF;
    transform: translate3d(0, -2.8vmax, 0) scale(0.75);
  }
  .requestLabel input:not(:-ms-input-placeholder) + .label {
    color: #0077FFCF;
    transform: translate3d(0, -2.8vmax, 0) scale(0.75);
  }
  .requestLabel input:not(:placeholder-shown) + .label {
    color: #0077FFCF;
    transform: translate3d(0, -2.8vmax, 0) scale(0.75);
  }
  .requestLabel input:focus {
    background: rgba(82, 78, 78, 0.377);
    outline: none;
    box-shadow: inset 0 -2px 0 #0051ff;
  }
  .requestLabel input:focus + .label {
    color: #2e8cf7;
    font-size: 2vmax;
    transform: translate3d(0, -4vmax, 0) scale(0.75);
  }
  .requestLabel input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
  }

  #submitBtn{
    margin-top: 4vmax;
    width: 230px;
    border-radius: 15px;
    font-size: 24px;
    background: linear-gradient(to right, #4492eb , #cd15d3);;
  }
  
  .songOptionInfo p {
    height: 40%;
    font-size: 1.3vw;
    margin-bottom: 0;
    line-height: calc(1.5 * 1.3vw);
  }

  .songOptionInfo{
    margin-left: -15%;
  }

  #customTag{
    margin-top: 10%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px){

  #pageHeader{
    font-size: 7vmax;
  }

  #logoDiv{
    height: 45vmin;
  }

  .App-logo {
    height: 45vmin;
  }

  #formDiv{
    height: 30vmax;
  }

  #artistDiv{
    margin-top: 3.5vmax;
  }

  .requestLabel .label {
    font-size: 1.8vmax;
  }

  .requestLabel input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 75%;
    border: 0;
    font-family: inherit;
    padding: 1vmin 1vmax 0 1vmax;
    height: 4vmax;
    font-size: 2.4vmax;
    font-weight: 500;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    transition: all 0.15s ease;
  }

  .requestLabel input:not(:-moz-placeholder-shown) + .label {
    color: #0077FFCF;
    transform: translate3d(0, -2.8vmax, 0) scale(0.75);
  }
  .requestLabel input:not(:-ms-input-placeholder) + .label {
    color: #0077FFCF;
    transform: translate3d(0, -2.8vmax, 0) scale(0.75);
  }
  .requestLabel input:not(:placeholder-shown) + .label {
    color: #0077FFCF;
    transform: translate3d(0, -2.8vmax, 0) scale(0.75);
  }

  .requestLabel input:focus + .label {
    color: #2e8cf7;
    font-size: 2.4vmax;
    transform: translate3d(0, -4.5vmax, 0) scale(0.75);
  }

  #submitBtn{
    padding: 0.5vmax 0;
  }

  .songOptionInfo p {
    font-size: 1.6vw;
  }

  #customTag{
    margin-top: 6%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 660px){

    #pageHeader{
      font-size: 5.5vmax;
    }

    #gridContainer{
      height: 135vmin
    }

    #logoDiv{
      margin-top: 1vmax;
      height: 65vmin;
    }

    .App-logo {
      height:65vmin;
    }

    #formDiv{
      margin-top: -4.5vmax;
      height: 65vmin;
    }

    .requestLabel input:not(:-moz-placeholder-shown) + .label {
      color: #0077FFCF;
      transform: translate3d(0, -4.2vmax, 0) scale(0.75);
    }
    .requestLabel input:not(:-ms-input-placeholder) + .label {
      color: #0077FFCF;
      transform: translate3d(0, -4.2vmax, 0) scale(0.75);
    }
    .requestLabel input:not(:placeholder-shown) + .label {
      color: #0077FFCF;
      transform: translate3d(0, -4.2vmax, 0) scale(0.75);
    }
    .requestLabel .label {
      font-size: 2.2vmax;
    }

    .requestLabel input:focus + .label {
      color: #2e8cf7;
      font-size: 2.8vmax;
      transform: translate3d(0, -6vmax, 0) scale(0.75);
    }

    .requestLabel input {
      font-size: 3vmax;
      width: 70%;
      height: 5.5vmax;
    }

    #submitBtn{
      width: 180px;
      font-size: 20px;
    }

    .songOptionInfo p {
      height: 40%;
      font-size: 2.3vw;
      line-height: calc(1.5 * 2.3vw);
    }

    #customTag{
      margin-top: 7%;
      font-size: 20px;
    }
}